*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
}
.container{
    display: flex;
    flex-flow: column wrap;
    max-width: 300px;
    padding: 24px;
    border: 1px solid royalblue;
    border-radius: 12px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
}
.container h1{
    text-align: center;
    background-color:royalblue ;
    color: #fff;
    margin-bottom: 12px;
    padding: 8px;
}
.container button:hover{
    background-color:royalblue ;
    color: #fff;
}
.container button ,.container input{
    padding: 6px;
    margin-bottom: 6px;
}
.container button:hover{
    background-color:royalblue ;
    color: #fff;
    border: none;
    border-radius: 4px;
    outline: outset 1px rgb(5, 34, 120);

}
